$font-stack: Helvetica, sans-serif;
$font-color: aliceblue;
$primary-color: #282c34;
$nav-background-color: #000000;
@media screen and (max-width: 1250px) {
  li.check {
    font-size: 8px;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr
  }
  .area-name {
    font-size: 8px;
  }
  div.main-display {
    margin-left: 2rem;
  }
  .aside>.aside-right {
    align-items: end;
  }
  .item-image > .image-song {
    width:18px;
    height:18px;
  }
  .item-image > .image-medium {
    width:18px;
    height:18px;
  }
  span > img.image-medium {
    width:18px;
    height:18px;
  }
  img.image-medium {
    width:18px;
    height:18px;
  }
  li.hint-name {
    font-size: 8px;
  }
  div.input-item {
    width: 13px;
    height: 13px;
    margin-right: 1px;
  }
  img.image-small {
    width: 13px;
    height: 13px;
  }
  .keys {
    flex-direction: column;
  }
  div.areas {
    margin-right: 10px;
  }
  li > input.input-field {
    display:none;
  }
  li > input.input-field-rupee {
    display:none;
  }
  h5 {
    font-size: 0.60em;
  }
  main.main {
    width: 85%;
  }
  aside.aside {
    width:12%;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1972px) {
  li.check {
    font-size: 10px;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr
  }

  .area-name {
    font-size: 10px;
  }

  div.main-display {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .aside > div.aside-right {
    align-items: end;
  }

  .keys {
    flex-direction: column;
  }

  li.hint-name {
    font-size: 10px;
  }

  div.input-item {
    width: 15px;
    height: 15px;
    margin-right: 1px;
  }

  img.image-small {
    width: 15px;
    height: 15px;
  }

  div.areas {
    margin-right: 10px;
  }
  .item-image > .image-song {
    width:20px;
    height:20px;
  }
  .item-image > .image-medium {
    width:20px;
    height:20px;
  }
  span > img.image-medium {
    width:18px;
    height:18px;
  }
  img.image-medium {
    width:18px;
    height:18px;
  }
  li > input.input-field {
    display:none;
  }
  li > input.input-field-rupee {
    display:none;
  }
  h5 {
    font-size: 0.70em;
  }
  main.main {
    width: 85%;
  }
  aside.aside {
    width:12%;
  }
}

input {
  background-color: darkgray;
}

.App {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $font-color;
  min-height: 100vh;
}

.nav-list {
  display: inline;
  list-style: none;
  margin-right: 20px;
  margin-top: 10px;
}

.nav-elements {
  display: flex;
  justify-content: space-between;
  background-color: $nav-background-color;
}

.tracker-name {
  margin-left: 10px;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(92, 92, 255);
}

.main-elements,
.songs,
.tracker-elements {
  display: flex;
}

.tracker-elements {
  margin-top: 5px;
}

.hints-display {
  margin-left: 2px;
}

.aside {
  width: 15%;
  margin-left: 5px;
}
.aside > .aside-left {
  position: fixed;
}

.aside > .aside-right {
  position: fixed;
}

.main {
  width: 70%;
}

.items-tracker {
  flex-direction: column;
}

.items {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  row-gap: 5px;
  column-gap:5px;
}

.stones {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.medallions {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.img-stone,
.img-medallion {
  margin-right: 3px;
}

.songs {
  flex-direction: column;
  margin-left: 10px;
  margin-top:-3.5px;
}

.dungeon-name {
  position: relative;
  width: 35px;
  bottom: 10px;
  z-index: 2;
  font-size: small;
  font-weight: bold;
}

.skull-number {
  align-self: center;
}

.item-image {
  text-align: center;
}

.main-display {
  display: flex;
}

.area-name {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.checks-list {
  list-style: none;
  padding: 0;
}

.check {
  margin-bottom: 2px;
  font-size: 12px;
  display: flex
}

.aside>.aside-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.check-undone {
  opacity: 1;
  margin-left: 1px;
}

.check-done {
  opacity: 0.3;
  margin-left: 1px;
}

.areas {
  margin-right: 15px;
}

.input-item {
  width: 20px;
  height: 20px;
  border: solid 1px;
  border-color: aliceblue;
  margin-right: 2px;
  background-color: #000000;
}

.image-small {
  width: 20px;
  height: 20px;
}

.image-medium {
  width: 28px;
  height: 28px;
}

.image-song {
  width: 30px;
  height: 30px;
}

.image-max {
  width: 35px;
  height: 35px;
}

.box {
  display: inline-block;
  background-color: darkgray;
  width: 250px;
  position: relative;
  z-index: 3;
}

.input-field {
  width: 16px;
  margin-left: 5px;
  height: 15px;
}

.input-field-aside {
  width: 16px;
  margin-right: 5px;
  height: 15px;
}

.field-list, .hints-list {
  list-style: none;
  padding: 0;
}

.hint-name {
  font-size: 12px;
  margin-left: 5px;
  display: flex;
}
.h5-hints {
  margin-top: 5px;
  margin-bottom:5px;
}

.path {
  margin-bottom:5px;
}

.other-hints {
  display:flex;
}

.blue {
  border: solid 1px;
  border-radius: 5px;
  border-color: Lightblue;
}

.lightblue {
  color: Lightblue;
}

.purple {
  border: solid 1px;
  border-radius: 5px;
  border-color: pink;
}

.pink {
  color: pink;
}

.red {
  color: #c3423d;
}

.green {
  color: #51aa3a;
}

.transparent {
  background-color: transparent;
}

.hint-image {
  display: inline-block;
}

.other-hint-display {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.other-hint-name {
  margin-right: 5px;
}

fieldset {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 40%;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number_keys {
  position: relative;
  z-index: 2;
  font-size: 12px;
  font-weight: bold;
  margin-right:3px;
}

.keys {
  display: flex;
  justify-content: space-around;
}

.hint-name-display {
  margin-bottom: 5px;
  margin-top: 10px;
}

.hint-player-name {
  font-size: small;
  text-shadow: 0 0 2px red;
  margin-top: -4px;
}

.image-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field-rupee {
  width: 20px;
  margin-left: 5px;
  height: 15px;
}

.to {
  margin-left: 5px;
}
.dungeon-shuffle-location {
  margin-left: 5px;
  font-weight: bolder;
}

.bold {
  font-weight: 900;
}