@media screen and (min-width: 1500px) and (max-width: 1700px) {
    li.check {
      font-size: 11px;
      display: grid;
      white-space: nowrap;
      grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr
    }
  
    .area-name {
      font-size: 10px;
    }
  
    div.main-display {
      margin-left: 1.5rem;
      margin-right: 2rem;
    }
  
    .aside>div.aside-right {
      align-items: end;
    }
  
    .keys {
      flex-direction: column;
    }
  
    li.hint-name {
      font-size: 10px;
    }
  
    div.input-item {
      width: 16px;
      height: 16px;
      margin-right: 1px;
    }
  
    img.image-small {
      width: 16px;
      height: 16px;
    }
  
    div.areas {
      margin-right: 10px;
    }
  
    .item-image>.image-song {
      width: 20px;
      height: 20px;
    }
  
    .item-image>.image-medium {
      width: 20px;
      height: 20px;
    }
  
    span>img.image-medium {
      width: 18px;
      height: 18px;
    }
  
    img.image-medium {
      width: 18px;
      height: 18px;
    }
  
    h5 {
      font-size: 0.70em;
    }
  
    h5.area-name {
      font-size: 0.75em;
    }
  
    main.main {
      width: 70%;
    }
  
    aside.aside {
      width: 15%;
    }
    .input-field {
      width: 17px;
      margin-left: 5px;
      height: 13px;
    }
    
    .input-field-aside {
      width: 17px;
      margin-right: 5px;
      height: 13px;
    }
  }